 .u-section-1 {
  background-image: url("images/f11de0f4-f885-ea85-b5cd-4a7f2abced16.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 746px;
  font-size: 1.25rem;
  margin: 21px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 423px;
  margin-top: 46px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-text-1 {
    font-family: "Bad Script";
  }

  .u-section-1 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    height: 802px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1136px;
  }
} .u-section-2 {
  background-image: url("images/f11de0f4-f885-ea85-b5cd-4a7f2abced16-7.jpg");
  background-position: 50% 50%;
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1190px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 0 60px 35px;
}

.u-section-2 .u-text-1 {
  font-size: 5rem;
  letter-spacing: normal;
  font-family: Playball;
  text-transform: none;
  font-weight: 400;
  margin: 32px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 384px;
  margin: 23px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 64px 78px 0 auto;
  padding: 10px 31px 10px 29px;
}

.u-section-2 .u-icon-1 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: -46px auto 0 78px;
  padding: 10px 46px 10px 45px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/229802365-0.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 402px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 517px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-2 .u-text-2 {
    width: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}