 .u-section-1 {
  background-image: url("images/f11de0f4-f885-ea85-b5cd-4a7f2abced16-11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1061px;
}

.u-section-1 .u-text-1 {
  margin: 170px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 30px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -55px auto 0 436px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  text-decoration: underline !important;
  margin: -36px 301px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    border-style: none;
    margin-left: 320px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 198px;
    margin-bottom: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 201px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 75px;
    margin-bottom: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 130px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-bottom: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -56px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 130px;
  }
}