 .u-section-1 {
  background-image: url("images/f11de0f4-f885-ea85-b5cd-4a7f2abced16-21.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 955px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-image: url("images/04530ac2c5f0e158ca0a0f76adba60619c90e8cc3b692f84a7da597073317fd82dbdc50c1d86cd73e445c2c78b230c9ef1614ada64670cee0f3dc9_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 9px;
}

.u-section-1 .u-text-1 {
  margin: 76px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 41px auto 0;
}

.u-section-1 .u-form-1 {
  height: 241px;
  width: 430px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 21px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 150px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 575px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 49px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-form-1 {
    width: 342px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-1 .u-image-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-image-1 {
    min-height: 391px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 322px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 24px;
  }
}