 .u-section-1 {
  background-image: url("images/f11de0f4-f885-ea85-b5cd-4a7f2abced16-9.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-image: url("images/5c7f5b8b78433cbd18007049b8652f6fd86f605ab23be579ae522588bdab45527b6b08f04d29029fb9aeb1e3b9b60c8527126b2c765934c681f3af_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 682px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-1 .u-form-1 {
  height: 415px;
  width: 471px;
  margin: 11px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 13px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 150px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: 84px;
  }

  .u-section-1 .u-form-1 {
    width: 429px;
    margin-top: 27px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -13px;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 23px;
    width: 360px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 23px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -33px;
  }

  .u-section-1 .u-image-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    width: 440px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-image-1 {
    min-height: 391px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
  }
}